* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a{
  text-decoration: none;
}

:root {
  --color: #000;
  --font-family: "PT Sans Caption", sans-serif;
  --conteiner-width: 1140px;
  --conteiner-padding-x: 15px;
}

.conteiner{
  max-width: calc(var(--conteiner-width) + var(--conteiner-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--conteiner-padding-x);
}






